---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="Joaquin Ferreiros - My portfolio - Web Developer">
	<section class="hero max-w-4xl">
    <h1>Let's Make It</h1>
    <p class="subtitle">I'm a self-taught web developer passionate about making things happen. Let’s chat about how we can create amazing things together.</p>
    <button onclick="location.href='/contact'" class="primary">Get in Touch</button>
  </section>

  <style>
    .hero {
      text-align: center;
      padding: 100px 20px;
    }

    .hero h1 {
      font-size: 5rem;
      font-weight: 900;
      color: #fff;
      margin-bottom: 20px;
    }

    .hero .subtitle {
      font-size: 1.5em;
      color: #fff;
    }
  @media (max-width: 768px) {
    .hero {
      padding: 8rem 2rem;
    }

    .hero h1 {
      font-size: 3rem;
    }

    .hero .subtitle {
      font-size: 1.2em;
    }
  }
  </style>
</Layout>